*{
   margin:0;
   scroll-behavior: smooth;    
}
body{
   cursor: url('./assets/image/cursor.png'), auto;
}

/* Crome, Safari, Edge Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
   -webkit-appearance: none;
   margin: 0;
}
/* Firefox */
input[input="number"]{
   -moz-appearance: textfield;
}
.greenColor{
   color: green !important;
}
.redColor{
   color: red !important;
}