/* .homeComponent{
    background-color: rgb(235, 229, 229);
} */

.homeHeading {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.8vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    margin: 5vmax auto;
    color: rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    width: 15vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard>img {
    width: 15vmax;
    max-width: 15vmax;
    height: 20vmax;
    max-height: 20vmax;
}

.productCard>div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: center;
}

.ProductCardSpan {
    margin-left: 1.5vmax;
    font: 300 0.7vmax "Roboto";
}

.productCard>p {
    font-family: "Roboto";
    font-size: 1.3vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard>span {
    margin: 0.5vmax 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}

/* button styling  */
.banner .btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #FF5733;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.banner .btn:hover {
    opacity: .95;
}

.banner .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@media screen and (max-width: 900px) {
    .banner {
        display: block;
        background-image: url('../../../assets/image/krishnaMd.png');
    }
    
}

@media screen and (max-width: 600px) {
    .container {
        width: 100vw;
    }

    .productCard>p {
        font-size: 1.7vmax;
    }

    .logoImg {
        width: 40vw;
        margin: 1.5vmax;
        filter: drop-shadow(8px 8px 10px gray);
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }

}

@media screen and (max-width: 500px) {
    .banner .btn {
        display: none;
    }

    .banner>h1 {
        font: 500 1.9vmax 'Roboto';
    }

}