.orderSuccess {
    margin: auto;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vmax;
}

.orderSuccess>svg {
    font-size: 10vmax;
    color: tomato;
}

.orderSuccess>p {
    font-size: 2vmax;
    margin: 15px 0;
}

.orderSuccess>a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax 'Roboto';
    text-decoration: none;
    border-radius: 3px;
}