.paymentContainer{
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    height: 65vh;
    margin: 2vmax;
}
.paymentForm{
    height: 100%;
    width: 22%;
}
.paymentForm > p {
    font: 400 2vmax 'Roboto';
    color: rgba(0,0,0,0.753);
    border-bottom: 1px solid rgba(0,0,0,0.13);
    margin: auto;
    text-align: center;
    padding: 1vmax 0;
    width: 50%;
}
.paymentForm > div {
    display: flex;
    align-items: center;
    margin: 2vmax 0;
}
.paymentInput{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.270);
    border-radius: 4px;
    outline: none;
}
.paymentForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0,0,0,0.900);
}
.paymentFormBtn{
    border: none;
    background-color: rgb(201, 31, 201);
    color: white;
    font: 300 0.9vmax 'Roboto';
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}
.paymentFormBtn:hover{
    background-color: rgb(161, 24, 161);
}

@media screen and (max-width: 750px) {
    .paymentForm{
        width: 90%;
    }
    .paymentForm > p{
        font: 400 8vw 'Roboto';
        padding: 4vw 0;
        width: 60%;
    }
    .paymentForm > div {
        display: flex;
        align-items: center;
        margin: 10vw 0;
    }
    .paymentInput{
        padding: 4vw 10vw;
    }
    .paymentForm > div > svg{
        font-size: 6vw;
    }
    .paymentFormBtn{
        font: 300 4vw 'Roboto';
        padding: 4vw;
    }
}