.max-width {
    max-width: 1550px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    background-color: rgb(201, 31, 201);
    padding: 3px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.03 ease;
    padding: 0 0;
    filter: drop-shadow(3px 0px 10px #222);
}


.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo .brandLogo {
    width: 160px;
    filter: drop-shadow(3px 3px 3px #999);
}


.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
    transition: color 0.3 ease;
    text-decoration: none;
    font-family: "Popins", sans-serif;
}

.navbar .menu li a i {
    font-size: 18px;
}

.nav-user {
    background-color: purple;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 25px !important;
}

.navbar.sticky .menu li a:hover {
    text-decoration: underline;
    color: white;
}

/* hamburger */

.menu-btn {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.searchBox>input[type="text"] {
    box-shadow: 0 0 10px purple;
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    color: purple;
    padding: 1vmax 2vmax;
    width: 400px;
    margin-left: 30px;
    outline: none;
    font: 300 1.1vmax 'Roboto';
    box-sizing: border-box;
    height: 30px;
    border-radius: 6px 0 0 6px;
}

.searchBox>button {
    box-shadow: 0 0 5px purple;
    border-radius: 0;
    background: none;
    border: none;
    padding: 6px;
    font: 300 1.1vmax 'Roboto';
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    border-radius: 0px 6px 6px 0px;
}


/* Responsive Media Query */


@media (max-width: 1350px) {
    .searchBox>input[type="text"] {
        width: 200px;
    }
}


@media (max-width: 1050px) {
    .searchBox>input[type="text"] {
        visibility: 0;
    }

    .searchBox>button {
        visibility: 0;
    }
}


@media (max-width: 940px) {
    .searchBox>input[type="text"] {
       visibility: 1;
       width: 40vw;
    }

    .searchBox>button {
        visibility: 1;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 70%;
        right: -100%;
        top: 20px;
        background: rgb(201, 31, 201);
        text-align: center;
        padding: 70px 0 0 0;
        transition: all 0.3s ease;
    }

    #user {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar .menu.active {
        right: 0;
    }

    .navbar .menu li {
        display: block;
        /* font-size: 25px; */
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
    }

    .navbar .menu li a i {
        font-size: 25px;
        margin-right: 5px;
    }

    .navbar .logo {
        z-index: 999;
    }
}


@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .navbar .logo .brandLogo {
        width: 100px;
    }
    .searchBox>input[type="text"] {
        width: 45vw;
        margin-left: 0px;
        /* height: 20px; */
     }
     
}