.speedDial {
    position: fixed;
    right: 6vmax;
    top: 2px;
    z-index: 11;
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

@media screen and (max-width: 690px) {
    .speedDial {
        right: 5vmax;
        top: 5px;
    }

    .MuiFab-primary {
        width: 35px !important;
        height: 35px !important;
    }

    .speedDialIcon {
        width: 35px;
        height: 35px;
    }
}