.speedDial {
    position: absolute;
    right: 1vmax;
    top: 5px;
    z-index: 11;
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

@media screen and (max-width: 950px) {
    .speedDial {
        right: 5%;
        top: 30px;
    }
}

@media screen and (max-width: 500px) {
    /* .speedDial {
        right: 10%;
        top: 20px;
    } */
}